<template>
  <v-container fluid class="ma-0 pa-0">
    <v-row>
      <v-col>
        <v-card class="counter">
          <v-card-title class="text-no-wrap">Cadastros - Femininos</v-card-title>
          <v-divider></v-divider>
          <v-card-text>{{ registeredF }}</v-card-text>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="counter">
          <v-card-title class="text-no-wrap">Cadastros - Masculinos</v-card-title>
          <v-divider></v-divider>
          <v-card-text>{{ registeredM }}</v-card-text>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="counter">
          <v-card-title class="text-no-wrap">Cadastros - Total</v-card-title>
          <v-divider></v-divider>
          <v-card-text>{{ registered }}</v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card class="counter">
          <v-card-title class="text-no-wrap">Aprovados - Femininos</v-card-title>
          <v-divider></v-divider>
          <v-card-text>{{ approvedF }}</v-card-text>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="counter">
          <v-card-title class="text-no-wrap">Aprovados - Masculinos</v-card-title>
          <v-divider></v-divider>
          <v-card-text>{{ approvedM }}</v-card-text>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="counter">
          <v-card-title class="text-no-wrap">Aprovados - Total</v-card-title>
          <v-divider></v-divider>
          <v-card-text>{{ approved }}</v-card-text>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="counter">
          <v-card-title class="text-no-wrap">Cadastros - Em aprovação</v-card-title>
          <v-divider></v-divider>
          <v-card-text>{{ approval }}</v-card-text>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="counter">
          <v-card-title class="text-no-wrap">Cadastros - Banidos</v-card-title>
          <v-divider></v-divider>
          <v-card-text>{{ banned }}</v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card class="counter">
          <v-card-title>Cadastros - Em aprovação</v-card-title>
          <v-divider></v-divider>
          <v-card-text>{{ banned }}</v-card-text>
        </v-card>
      </v-col>
      

    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      registered: "",
      registeredM: "",
      registeredF: "",
      contact: "",
      available: "",
      expired: "",
      banned: "",
      approved: "",
      approvedM: "",
      approvedF: "",
      approval: "",
    }
  },
  methods: {
   
  },
  async mounted(){
    try{
      let { data: registered } =  await this.$axios.get(`/api/register/count`)
      let { data: register_m } = await this.$axios.get('/api/register/count?q=gender:Masculino')
      let { data: register_f } = await this.$axios.get('/api/register/count?q=gender:Feminino')
      let { data: banned } = await this.$axios.get('/api/register/count?q=ban:true')
      let { data: approved } = await this.$axios.get('/api/register/count?q=status:approved')
      let { data: approvedM } = await this.$axios.get('/api/register/count?q=status:approved,gender:Masculino')
      let { data: approvedF } = await this.$axios.get('/api/register/count?q=status:approved,gender:Feminino')
      let { data: approval } = await this.$axios.get('/api/register/count?q=status:approval')
      this.registered = registered.count,
      this.contact = contact.count,
      this.expired = expired.count,
      this.available = available.count,
      this.registeredF = register_f.count,
      this.registeredM = register_m.count,
      this.banned = banned.count
      this.approved = approved.count
      this.approvedF = approvedF.count
      this.approvedM = approvedM.count
      this.approval = approval.count
    } catch {}
  }
}
</script>
<style lang="css">
  .counter .v-card__title {
    font-size: 14px;
    color: #777;
    padding: 0px 4px 0px 8px;
  }

  .counter .v-card__text {
    font-size: 35px;
    color: #007700 !important;
    padding: 16px 8px 16px 8px;
    text-align: center;
    text-decoration: none;
  }
</style>
