<template>
  <v-container fill-height>
    <v-row justify="center">
      <v-col cols="3">
        <v-card>
          <v-card-title>Login</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-form>
              <v-text-field
                label="Usuário"
                v-model="username"
              ></v-text-field>
              <v-text-field
                label="Senha"
                :append-icon="show ? 'mdi-eye': 'mdi-eye-off'"
                :type="show ? 'text': 'password'"
                @click:append="show = !show"
                v-model="password"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions class="justify-end">
            <v-btn color="primary" @click="login">ENTRAR</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: 'clear',

  data: () => ({
    show: false,
    username: '',
    password: ''
  }),

  methods: {
    async login() {
      if(await this.$auth.login({ user: this.username, passwd: this.password })) {
        this.$router.push('/')
      }
    }
  }
}
</script>
