<template>
  <div>
    <data-table
      label="Notificações (sistema)"
      entity="api/notification"
      :headers="headers"
      :default-item="defaultItem"
      :edited-item.sync="editedItem"
      :edit="true"
      item-key="_id"
      :find="true"
      :insert="true"
    >
      <v-container>
        <v-row>
          <v-col cols="12">
            <v-text-field
              label="Chave"
              v-model="editedItem.key"
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field
              label="Título"
              v-model="editedItem.title"
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-switch
              label="Notificar"
              v-model="editedItem.notifyActive"
            ></v-switch>
          </v-col>
          <v-col cols="12" v-show="editedItem.notifyActive">
            <client-only>
              <wysiwyg v-model="editedItem.notifyText" />
            </client-only>
          </v-col>
          <v-col cols="12">
            <v-switch
              label="Disparar e-mail"
              v-model="editedItem.emailActive"
            ></v-switch>
          </v-col>
          <v-col cols="12" v-show="editedItem.emailActive">
            <v-text-field
              label="Assunto do e-mail"
              v-model="editedItem.emailSubject"
            ></v-text-field>
          </v-col>
          <v-col cols="12" v-show="editedItem.emailActive">
            <client-only>
              <wysiwyg v-model="editedItem.emailText" />
            </client-only>
          </v-col>
        </v-row>
      </v-container>
    </data-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      headers: [
        { text: "Chave", align: "left", sortable: true, value: "key" },
        { text: "Título", align: "left", sortable: true, value: "title" },
        { text: "", value: "action", sortable: false, align: "right" }
      ],
      editedItem: {
        key: "",
        title: "",
        notifyActive: false,
        notifyText: "",
        emailActive: false,
        emailText: ""
      },
      defaultItem: {
        key: "",
        title: "",
        notifyActive: false,
        notifyText: "",
        emailActive: false,
        emailText: ""
      },
      required: v => !!v || "Campo obrigtório"
    };
  },

  methods: {
    close() {
      this.$refs.list.close();
    }
  }
};
</script>
