<template>
  <div>
    <data-table
      label="Cadastros"
      entity="api/register"
      :headers="headers"
      :default-item="defaultItem"
      :edited-item.sync="editedItem"
      :edit="true"
      item-key="_id"
      :find="true"
      @close="close"
      @open="open"
      :insert="false"
    >
      <v-container>
        <v-row no-gutters>
          <v-col>
            <G-Avatar :size="50" :avatar="editedItem.avatar" :id="editedItem._id" :name="editedItem.name"></G-Avatar>
            <div>
              <span class="info--text title">{{ editedItem.name }} <span class="caption">({{ $moment().diff(editedItem.birthdate, 'year') }} anos)</span></span><br>
              <span class="info--text caption">{{ editedItem.email }}</span><br>
              <span class="caption">{{ editedItem.gender }}</span><br>
              <span class="caption">Cadastrado(a) {{ $moment(editedItem.created).fromNow() }}</span>
            </div>
          </v-col>
          <v-col v-if="editedItem.status" class="pt-4">
            <v-select
              label="Status"
              :items="[
                { id: 'pending', title: 'Pendente' },
                { id: 'approval', title: 'Conteúdo em aprovação'},
                { id: 'approved', title: 'Aprovado' },
                { id: 'removed', title: 'Apagar conta'},
                { id: 'banned', title: 'Banido'},
                { id: 'blocked', title: 'Bloqueado'}
              ]"
              item-value="id"
              item-text="title"
              v-model="editedItem.status"
            ></v-select>
          </v-col>
        </v-row>
        <v-divider class="my-8"></v-divider>
        
      </v-container>
    </data-table>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    data() {
      return {
        text: false,
        alert: '',
        pack: 0,
        packCount: 0,
        profileBase: process.env.IMAGE_URL,
        headers: [
          { text: 'Nome', align: 'left', sortable: true, value: 'name' },
          { text: 'E-mail', align: 'left', sortable: true, value: 'email' },
          { text: 'Gênero', align: 'left', sortable: true, value: 'gender' },
          { text: 'Status', align: 'left', sortable: true, value: 'status' },
          { text: '', value: 'action', sortable: false, align: "right" },
        ],
        editedItem: {
          name: '',
          email: '',
          gender: ''
        },
        approval: {},
        content: {},
        defaultItem: {
          name: '',
          email: '',
          gender: ''
        },
        gender: ['Masculino', 'Feminino'],
        required: v => !!v || 'Campo obrigatório',
        privateImages: [],
        publicImages: [],
        aboutColor: '',
        findingColor: ''
      }
    },

    methods: {
      close() {
        this.aboutColor = ''
        this.findingColor = ''
      },

      

      async open () {
        this.text = false
       

        let { data: register } = await this.$axios.get(`/api/register/${this.editedItem._id}/extends`)
        if(register)
          this.content =  register
        else
          this.content = {}

        
      },

     

     
    },

    computed: {
      /* ...mapState([
          'list'
      ]), */
    },

    watch: {
      async editedItem (val) {
        
      }
    }
  }
</script>
<style>
.image-detached {
  border: 1px solid #f00;
}

.image-detached .v-image__image {
  transition: filter 0.5s;
}

.image-approved .v-image__image {
  filter: opacity(0.5) drop-shadow(0 0 0 green);
}

.image-rejected .v-image__image {
  filter: opacity(0.5) drop-shadow(0 0 0 red);
}

.card-transition {
  transition: all 1s;
}
</style>
