<template>
  <div>
    <data-table
      label="Textos estáticos"
      entity="api/text"
      :headers="headers"
      :default-item="defaultItem"
      :edited-item.sync="editedItem"
      :edit="true"
      item-key="_id"
      :show-select="false"
      :selected.sync="selected"
      :find="true"
      :insert="true"
    >
      <v-container>
        <v-row>
          <v-col cols="6">
            <v-select
              v-model="editedItem.type"
              label="Tipo de conteúdo"
              :items="items"
              item-text="title"
              item-value="key"
              :rules="[required]"
              ></v-select>
          </v-col>
          <v-col cols="6">
            <v-text-field v-model="editedItem.title" label="Título" :rules="[required]"></v-text-field>
          </v-col>
          <v-col cols="12" v-if="editedItem.type==='email'">
            <v-text-field v-model="editedItem.subject" label="Subject" :rules="[required]"></v-text-field>
          </v-col>
          <v-col cols="12">
            <wysiwyg v-model="editedItem.content"/>
          </v-col>
        </v-row>
      </v-container>
    </data-table>
  </div>
</template>
<script>

export default {
    
    data() {
      return {
        items: [
          { title: 'E-mail', key: 'email' },
          { title: 'Termo de uso', key: 'terms' },
          { title: 'Política privacidade', key: 'policy' },
          { title: 'Sobre a Empresa', key: 'about' },
        ],
        headers: [
          { text: 'Título', align: 'left', sortable: true, value: `title` },
          { text: '', value: 'action', sortable: false, align: "right" },
        ],
        editedItem: {
          type: '',
          title: '',
          subject: '',
          content: ''
        },
        defaultItem: {  
          type: '',
          title: '',
          subject: '',
          content: ''
        },
        selected: null,
        required: v => !!v || 'Campo obrigtório',
      }
    },
    methods: {
      close() {
        this.$refs.list.close()
      }
    }
  }
</script>

