<template>
  <v-layout column justify-center>
    <v-flex xs12 sm8 md6>
      <v-row>
        <v-col align="center" cols="12">
          <h1 class="primary--text font-weight-light text-uppercase">Evento</h1>
        </v-col>
        <v-col cols="12">
          <v-row>
            <v-col cols="12">
              <v-card class="elevation-2 pa-0" color="#dbdbdb">
                <v-card-text>
                  <v-img
                    height="250"
                    src="../Top_Banner_MotorRoad_1.jpg"
                  ></v-img>

                  <v-card-title>Rota BR147</v-card-title>

                  <v-card-text>
                    <v-row align="center" class="mx-0">
                      <v-rating
                        :value="4.5"
                        color="amber"
                        dense
                        half-increments
                        readonly
                        size="14"
                      ></v-rating>

                      <div class="grey--text ms-4">4.5 (413)</div>
                    </v-row>

                    <div class="my-4 text-subtitle-1">123 pessoas no evento</div>

                    <div class="mb-4">
                      Small plates, salads & sandwiches - an intimate setting
                      with 12 indoor seats plus patio seating. Small plates, salads & sandwiches - an intimate setting
                      with 12 indoor seats plus patio seating.<br>
                      Small plates, salads & sandwiches - an intimate setting
                      with 12 indoor seats plus patio seating. Small plates, salads & sandwiches - an intimate setting
                      with 12 indoor seats plus patio seating.
                    </div>

                    <v-alert
                      border="bottom"
                      colored-border
                      type="info"
                      elevation="2"
                    >
                      <h3 class="info--text">Atenção</h3>
                      <v-row>
                        <v-col cols="7">
                          <p>
                            Sed in libero ut nibh placerat accumsan. Phasellus
                            leo dolor, tempus non, auctor et, hendrerit quis,
                            nisi. Phasellus leo dolor, tempus non, auctor et,
                            hendrerit quis, nisi. Sed consequat, leo eget
                            bibendum sodales, augue velit cursus nunc, quis
                            gravida magna mi a libero. Donec elit libero,
                            sodales nec, volutpat a, suscipit non, turpis.
                          </p>
                        </v-col>
                        <v-col cols="5">
                          <h3 class="info--text">QRCode do Voucher:</h3>
                          <img
                            :src="`../profiles/${this.$auth.profile._id}/image/${this.$auth.profile.hash}.png`"
                            alt="QRCode"
                            contain
                          />
                        </v-col>
                      </v-row>
                    </v-alert>

                    <div>
                      <v-sheet class="mx-auto" elevation="0">
                        <v-slide-group
                          v-model="model"
                          class="pa-4"
                          active-class="success"
                          show-arrows
                        >
                          <v-slide-item
                            v-for="n in 15"
                            :key="n"
                            v-slot="{ active, toggle }"
                          >
                            <v-card
                              :color="active ? undefined : 'grey lighten-1'"
                              class="ma-4"
                              height="200"
                              width="100"
                              @click="toggle"
                            >
                              <v-row
                                class="fill-height"
                                align="center"
                                justify="center"
                              >
                                <v-scale-transition>
                                  <v-icon
                                    v-if="active"
                                    color="white"
                                    size="48"
                                    v-text="'mdi-close-circle-outline'"
                                  ></v-icon>
                                </v-scale-transition>
                              </v-row>
                            </v-card>
                          </v-slide-item>
                        </v-slide-group>
                      </v-sheet>
                    </div>
                  </v-card-text>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  middleware: ["auth", "redirect"],
  layout: "logged",
  data: () => ({
    title: "Carteirinha",
    model: null,
  }),
  created() {},
  methods: {},
  watch: {},
};
</script>