.theme--light.v-application {
    background-color: var(--v-background-base, #ebe9eb) !important;
}
.v-card__title, .v-card__text {
    background-color: #ebe9eb !important;
}
.v-card__actions {
    background-color: #ebe9eb !important;
}
#simpleTable table thead tr th {
    background: #962828;
}
.text-primary{
    color: #074266
}
.v-card__title {
    color: #bf2600;
    background-color: #ebe9eb !important;
}
.shadow-black {
    text-shadow: 2px 1px rgb(0, 0, 0);
}