<template>
  <v-layout column justify-center>
    <v-list class="my-n2" color="rgba(255, 0, 0, 0.0)">
      <v-list-item>
        <v-list-item-content> </v-list-item-content>
        <v-btn text small class="primary--text" to="/reserve">
          parcerias
        </v-btn>
        <v-btn text small class="primary--text" to="/contact">Contato</v-btn>
      </v-list-item>
    </v-list>
    <v-row>
      <v-col align="center" cols="12">
        <h1 class="primary--text font-weight-light text-uppercase">
          Sobre nós
        </h1>
      </v-col>
      <v-col align="center" cols="6" class="py-0">
        <p class="px-2">
          Com foco em lifestyle e economia colaborativa voltada ao mercado de
          duas rodas. Somos a primeira empresa brasileira facilitadora de
          experiências 360 graus para esse segmento. Desde hospedagens em
          hotéis, roteiros e experiências até festas e eventos. A
          <strong class="primary--text">Motor Road</strong> aposta na cocriação
          acolhendo sugestões de motociclistas e parceiros como forma de
          garantir inovação e aprimoramento contínuos.
        </p>
      </v-col>
      <v-col cols="6">
        <v-card class="mx-auto" max-width="344">
          <v-img
            src="Diretoria_MotorRoad.png"
            height="200px"
          ></v-img>
          <v-card-title> QUEM SOMOS </v-card-title>
          <v-card-text><p>Somos empresários com muito tempo de estrada  e juntamos nossas expertises
à nossa paixão para desenvolver esta operação.

Estamos criando aquilo que queriamos encontrar quando estamos nas estradas: apoio, amigos,  segurança e diversão.</p> </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-layout>
</template>
<script>
export default {
  layout: "default",
  data() {
    return {
      items: ["Dúvida", "Sugestão", "Crítica"],
    };
  },
};
</script>