<template>
  <v-layout column justify-center>
    <v-list class="my-n2" color="rgba(255, 0, 0, 0.0)">
      <v-list-item>
        <v-list-item-content> </v-list-item-content>
        <v-btn text small class="primary--text" to="/about"> sobre nós </v-btn
        ><v-btn text small class="primary--text" to="/reserve">
          parcerias
        </v-btn>
      </v-list-item>
    </v-list>
    <v-row>
      <v-col align="center" cols="12">
        <h1 class="primary--text font-weight-light text-uppercase">Contato</h1>
      </v-col>
      <v-col align="center" cols="12" class="py-0">
        <p class="px-2">
          Está com alguma dúvida, quer dar uma sugestão ou fazer alguma crítica?<br />
          Mande sua mensagem, estamos à sua disposição!<br />Em caso de dúvidas
          sobre hospedagem, ligue para a Central Migro 24h - 11 4673.1048
        </p>
      </v-col>
      <v-col cols="12">
        <v-card class="elevation-0" color="#ebe9eb">
          <v-card-text class="py-0 px-0">
            <v-form ref="register" class="pa-4">
              <v-row no-gutters>
                <v-col cols="12">
                  <v-text-field
                    label="Nome"
                    required
                    background-color="#f7f7f7"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="E-mail"
                    required
                    background-color="#f7f7f7"
                    autofocus
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    name="input-7-1"
                    label="Mensagem"
                    background-color="#f7f7f7"
                  ></v-textarea>
                </v-col>
                <v-col cols="12">
                  <v-select label="Assunto" :items="items"></v-select>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" class="mt-4" block> Enviar </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-layout>
</template>
<script>
export default {
  layout: "default",
  data() {
    return {
      items: ["Dúvida", "Sugestão", "Crítica"],
    };
  },
};
</script>