<template>
  <v-layout column justify-center>
    <v-row no-gutters>
      <v-col xs="12" sm="7" md="7">
        <v-carousel :show-arrows="false" height="300" class="mt-1">
          <v-carousel-item
            v-for="(item, i) in items"
            :key="i"
            :src="item.src"
          ></v-carousel-item>
        </v-carousel>
      </v-col>
      <v-col
        xs="12"
        sm="5"
        md="5"
        :class="this.$vuetify.breakpoint.name !== 'xs' ? 'pl-4' : 'mt-4'"
      >
        <v-card class="elevation-0 mt-n4">
          <v-card-title class="font-weight-light">
            Próximos eventos
          </v-card-title>
          <v-card-text>
            <v-list two-line color="rgba(255, 255, 255, 1)" class="mt-n2">
              <v-list-item-group multiple class="my-n2">
                <template v-for="(item, index) in items1">
                  <v-list-item :key="item.title"  color="#000">
                    <v-list-item-content>
                      <v-list-item-title
                        class="primary--text text-decoration-underline"
                        v-text="item.title"
                      ></v-list-item-title>

                      <v-list-item-subtitle
                        v-text="item.headline"
                      ></v-list-item-subtitle>

                      <v-list-item-subtitle
                        v-text="item.subtitle"
                      ></v-list-item-subtitle>

                       <v-list-item-subtitle class="mt-2">
                         <p class="blue-grey--text darken-4 caption mb-0"><v-icon small class="blue-grey--text darken-4"> mdi-weather-rainy </v-icon> Previsão de chuva</p>
                         <p class="primary--text caption mb-n1"><v-icon small class="primary--text"> mdi-checkbox-marked-outline </v-icon> Presença confirmada</p>
                       </v-list-item-subtitle>

                    </v-list-item-content>

                    <v-list-item-action>
                      <v-list-item-action-text
                      class="blue-grey--text darken-4"
                        v-text="item.action"
                      ></v-list-item-action-text>

                      <v-btn fab x-small :to="`/event/1`" color="primary">
                        <v-icon> mdi-plus </v-icon>
                      </v-btn>
                    </v-list-item-action>
                  </v-list-item>

                  <v-divider
                    v-if="index < items1.length - 1"
                    :key="index"
                  ></v-divider>
                </template>
              </v-list-item-group>
            </v-list>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-layout>
</template>
<script>
export default {
  middleware: ["auth", "redirect"],
  layout: "logged",
  data() {
    return {
      items: [
        {
          src: "Top_Banner_MotorRoad_1.jpg",
        },
        {
          src: "Top_Banner_MotorRoad_2.jpg",
        },
        {
          src: "Top_Banner_base.jpg",
        },
      ],
      
      items1: [
        {
          _id: "123468768",
          action: "Dia 23/06/2021",
          headline: "Brunch this weekend?",
          subtitle: `I'll be in your neighborhood doing errands this weekend. Do you want to hang out?`,
          title: "Evento 12 Brunch this",
        },
        {
          _id: "123468768",
          action: "Dia 23/06/2021",
          headline: "Summer BBQ",
          subtitle: `Wish I could come, but I'm out of town this weekend.`,
          title: "Evento-1 12",
        },
        {
          _id: "123468768",
          action: "Dia 23/06/2021",
          headline: "Oui oui",
          subtitle: "Do you have Paris recommendations? Have you ever been?",
          title: "Evento 13",
        },
      ],
    };
  },

  computed: {},

  watch: {},

  created() {},

  methods: {},
};
</script>