<template>
  <v-layout column justify-center>
    <v-flex xs12 sm8 md6>
      <v-row>
        <v-col align="center" cols="12">
          <h1 class="primary--text font-weight-light text-uppercase">
            Carteirinha
          </h1>
        </v-col>
        <v-col>
          <v-row>
            <v-col cols="12">
              <v-card class="elevation-16" color="#dbdbdb">
                <v-card-text>
                  <v-row>
                    <v-col cols="12" class="mb-n5">
                      <img
                        src="/logo-motor-road-experiences.png"
                        alt="Motor Road Experinces"
                        contain
                        height="60"
                      />
                    </v-col>
                    <v-col cols="12" class="mb-n4">
                      <v-divider class="grey"></v-divider>
                    </v-col>
                    <v-col cols="12">
                      <h4 class="blue-grey--text text-caption mb-n4">
                        Membro tipo OURO
                      </h4>
                    </v-col>
                    <v-col xs="12" sm="7">
                      <h3 class="primary--text">Titular:</h3>
                      <p>{{ this.$auth.profile.name }}</p>
                      <h3 class="primary--text">Data de nascimento:</h3>
                      <p>
                        {{ $moment(this.$auth.profile.birthdate).format("L") }}
                      </p>
                      <h3 class="primary--text">Desde:</h3>
                      <p>
                        {{ $moment(this.$auth.profile.created).format("L") }}
                        <small
                          >({{
                            $moment(this.$auth.profile.created).fromNow()
                          }})</small
                        >
                      </p>
                    </v-col>
                    <v-col xs="12" sm="5">
                      <h3>QRCode:</h3>
                      <img
                        :src="`./profiles/${this.$auth.profile._id}/image/${this.$auth.profile.hash}.png`"
                        alt="QRCode"
                        contain
                      />
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  middleware: ["auth", "redirect"],
  layout: "logged",
  data: () => ({
    title: "Carteirinha",
  }),
  created() {},
  methods: {},
  watch: {},
};
</script>