<template>
  <v-layout column justify-center>
    <v-flex xs12 sm8 md6>
      <v-list class="my-n3" color="rgba(255, 0, 0, 0.0)">
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="body-1 primary--text font-weight-bold">
              <v-icon medium class="pr-2 primary--text"
                >mdi-account-remove</v-icon
              >Adeus
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-row>
        <v-col>
        </v-col>
      </v-row>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  layout: "default",
  data: () => ({
    
  }),
  
};
</script>