<template>
  <v-layout column justify-center>
    <v-list class="my-n2" color="rgba(255, 0, 0, 0.0)">
      <v-list-item>
        <v-list-item-content> </v-list-item-content>
        <v-btn text small class="primary--text" to="/about"> sobre nós </v-btn
        ><v-btn text small class="primary--text" to="/reserve">
          parcerias
        </v-btn>
        <v-btn text small class="primary--text" to="/contact"> Contato </v-btn>
      </v-list-item>
    </v-list>
    <v-carousel :show-arrows="false" height="300" class="mt-1">
      <v-carousel-item
        v-for="(item, i) in items"
        :key="i"
        :src="item.src"
      ></v-carousel-item>
    </v-carousel>
    <v-sheet elevation="0" class="mt-8">
      <v-row>
        <v-col align="center" cols="12" class="mt-5">
          <h1 class="primary--text font-weight-light text-uppercase">
            reservas motor road
          </h1>
        </v-col>
        <v-col align="center" cols="12" class="py-0">
          <p class="px-2">
            Conheça a rede de hotéis afiliados
            <strong class="primary--text">Motor Road</strong> e hospede-se com
            conforto e segurança para você e sua moto.<br>Escolhemos a dedo os
            hotéis com apartamentos maiores e estacionamento coberto.<br>Além
            disso, você pode aproveitar benefícios como promoções, brindes e
            descontos especiais.
          </p>
        </v-col>
        <v-col cols="12" class="py-0">
          <v-item-group class="px-2 mt-n12">
            <v-row>
              <v-col v-for="n in 3" :key="n" cols="12" md="4">
                <v-item>
                  <v-card class="mx-auto my-12" max-width="374" elevation="4">
                    <template slot="progress">
                      <v-progress-linear
                        color="deep-purple"
                        height="10"
                        indeterminate
                      ></v-progress-linear>
                    </template>
                    <v-img height="250" src="/evento1.jpg">
                      <v-row class="ma-1" style="background-color: #bf2600">
                        <v-col align="center">
                          <h2 class="white--text">Hotel {{ n }}</h2>
                        </v-col>
                      </v-row>
                    </v-img>
                    <v-card-text>
                      <div>
                        Small plates, salads & sandwiches - an intimate setting
                        with 12 indoor seats plus patio seating.
                      </div>
                    </v-card-text>
                    <v-card-actions>
                      <v-btn color="primary" text> Reserve </v-btn>
                      <v-spacer></v-spacer>
                      <v-icon class="primary--text">mdi-sale</v-icon>
                    </v-card-actions>
                  </v-card>
                </v-item>
              </v-col>
            </v-row>
          </v-item-group>
        </v-col>
      </v-row>
    </v-sheet>
    <v-row no-gutters class="mt-6">
      <v-col align="center" cols="12">
        <h1 class="primary--text font-weight-light text-uppercase">Eventos</h1>
      </v-col>
      <v-col align="center" cols="12" class="py-0">
        <p class="px-2">
          Fique por dentro de todos os eventos do
          <strong class="primary--text">Motor Road</strong> e participe.<br>Para
          fazer parte desta turma é só se cadastrar na plataforma e disfrutar
          dos... <br>
          <a href="/register" class="blue--text darken-4 text-uppercase">
            Clique aqui e cadastre-se
          </a>
        </p>
      </v-col>
      <v-col cols="12" class="py-0">
        <v-item-group class="px-2 mt-n6">
          <v-row>
            <v-col v-for="(item1, index) in items1" :key="index" cols="12" md="4">
              <v-item>
                <v-card class="mx-auto my-12" max-width="374" elevation="4">
                  <template slot="progress">
                    <v-progress-linear
                      color="deep-purple"
                      height="10"
                      indeterminate
                    ></v-progress-linear>
                  </template>
                  <v-img
                    height="250"
                    :src="item1.src"
                    aspect-ratio="12"
                    class="d-flex align-end"
                  >
                    <v-row
                      class="ma-1"
                      style="background-color: rgba(0, 0, 0, 0.5)"
                    >
                      <v-col cols="8">
                        <h5 class="white--text subtitle-1 shadow-black">
                          {{ item1.title }}
                        </h5>
                      </v-col>
                      <v-col cols="4" align="center">
                        <h5 class="white--text text-caption shadow-black">
                          {{ item1.number }} presentes
                        </h5>
                      </v-col>
                    </v-row>
                  </v-img>
                  <v-card-text>
                    <div>
                      <h4 class="primary--text darken-4 font-weight-light">{{item1.day}}</h4>
                      {{ item1.text }}
                    </div>
                  </v-card-text>
                  <v-divider></v-divider>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn fab x-small :to="`/event/${item1._id}`" color="primary">
                      <v-icon> mdi-plus </v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-item>
            </v-col>
          </v-row>
        </v-item-group>
      </v-col>
    </v-row>
  </v-layout>
</template>
<script>
export default {
  layout: "default",
  data() {
    return {
      online: true,
      items: [
        {
          src: "Top_Banner_MotorRoad_1.jpg",
        },
        {
          src: "Top_Banner_MotorRoad_2.jpg",
        },
        {
          src: "Top_Banner_base.jpg",
        },
      ],
      items1: [
        {
          _id: "123468768",
          src: "evento1.jpg",
          title: "Rota 0",
          number: "125",
          text: "Small plates, salads & sandwiches - an intimate setting with 12 indoor seats plus patio seating.",
          day: "Realizado em 21/05/2021"
        },
        {
          _id: "123468768",
          src: "Top_Banner_MotorRoad_2.jpg",
          title: "Rota 1",
          number: "205",
          text: "12 indoor seats plus patio seating Small plates, salads & sandwicheswith .",
          day: "Realizado em 21/05/2021"
        },
        {
          _id: "123468768",
          src: "Top_Banner_base.jpg",
          title: "Rota 2",
          number: "25",
          text: "Indoor seats plus patio seating Small plates, sandwicheswith .",
          day: "Realizado em 21/05/2021"
        },
      ],
    };
  },
};
</script>