<template>
  <v-layout column justify-center align-center>
    <v-row class="text-center">
      <v-col cols="12">
        <v-card width="530" class="elevation-0" color="#ebe9eb">
          <v-card-title  class="font-weight-light py-2">
            Login
          </v-card-title>
          <v-divider color="#222222"></v-divider>
          <v-card-text class="py-0 px-0">
            <v-form ref="register" class="pa-4">
              <v-row no-gutters>
                <v-col cols="12">
                  <v-text-field
                    v-model="register.email"
                    :rules="[$rules.required, $rules.email]"
                    label="E-mail"
                    required
                    background-color="#f7f7f7"
                    autofocus
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show1 ? 'text' : 'password'"
                    name="input-10-1"
                    label="Senha"
                    hint="Mínimo de 8 caracteres"
                    v-model="register.password"
                    counter
                    background-color="#f7f7f7"
                    @click:append="show1 = !show1"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn
              :disabled="loading"
              color="primary"
              class="mt-4"
              block
              @click="userLogin"
              :loading="loading"
            >
              Entrar
            </v-btn>
          </v-card-actions>
          <v-card-text>
            <v-row>
              <v-col class="body-1">
                <router-link to="/register" class="body-1" exact
                  >Quero me cadastrar</router-link
                >
                |
                <a href="#" class="body-1" @click="dialog = true"
                  >Esqueci minha senha</a
                ><br />contato@motorroad.com.br
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" max-width="500" transition="slide-y-transition">
      <v-card color="#ebe9eb">
        <v-card-title class="font-weight-light">
          Esqueci minha senha
          <v-spacer></v-spacer>
          <v-btn fab color="#ebe9eb" x-small class="elevation-5">
            <v-icon class="primary--text">mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-form ref="forgot">
            <v-text-field
              v-model="forgot.email"
              :rules="[$rules.required, $rules.email, rules.checkEmail]"
              label="E-mail"
              background-color="#f7f7f7"
              autofocus
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="primary"
            block
            @click="forgotSend"
            :disabled="loadingForgot"
            :loading="loadingForgot"
          >
            Enviar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <G-Snackbar></G-Snackbar>
  </v-layout>
</template>
<script>
import debounce from "debounce";
export default {
  layout: "auth",
  data() {
    let that = this;
    return {
      dialog: false,
      validEmail: false,
      dialog: false,
      loadingForgot: false,
      show1: false,
      valid: true,
      loading: false,
      register: {
        email: "",
        password: "",
      },
      forgot: {
        email: "",
      },
      validEmail: false,
      rules: {
        checkEmail(val) {
          if (!that) return false;

          return that.validEmail;
        },
      },
    };
  },

  watch: {
    "forgot.email": {
      handler(val) {
        this.checkEmailDebounce(val);
      },
    },
  },

  methods: {
    checkEmailDebounce: debounce(function (val) {
      this.$axios
        .get(`/signup/email/${val.toLowerCase()}`)
        .then((r) => {
          if (r.data.status === "OK") this.validEmail = true;
          else this.validEmail = "E-mail não cadastrado.";
          this.$refs.forgot.validate();
        })
        .catch((err) => {
          this.validEmail = true;
          this.$refs.forgot.validate();
        });
    }, 500),

    async userLogin() {
      try {
        if (!this.$refs.register.validate()) return;
        this.loading = true;
        if (
          await this.$auth.login({
            user: this.register.email.toLowerCase(),
            passwd: this.register.password,
          })
        ) {
          switch (this.$auth.profile.status) {
            case "approved":
              this.$io.emit("handshake", this.$auth.profile._id);
              this.$router.push("/dashboard");
              break;
            case "approval":
            case "disapproved":
              this.$io.emit("handshake", this.$auth.profile._id);
              this.$router.push("/dashboard");
              break;
            case "pending":
              this.$io.emit("handshake", this.$auth.profile._id);
              this.$router.push("/pending");
              break;
            case "payment":
              this.$router.push("/payment");
              break;
            case "payment-pending":
              this.$router.push("/payment-pending");
              break;
            default:
              this.$snackbar.showMessage({
                content: "Dados inválidos.",
                color: "error",
              });
              this.loading = false;
          }
          // excluded
          // banned
        } else {
          this.$snackbar.showMessage({
            content: "Dados inválidos.",
            color: "error",
          });
          this.loading = false;
        }
      } catch (err) {
        this.$snackbar.showMessage({
          content: "Ocorreu um erro.",
          color: "error",
        });
      }
    },

    async forgotSend() {
      if (!this.$refs.forgot.validate()) return;
      this.loadingForgot = true;
      let r = await this.$axios.get(
        `/signup/${this.forgot.email.toLowerCase()}/forgot`
      );
      if (r.data.status === "OK") {
        this.$snackbar.showMessage({
          content:
            "Uma senha temporária foi enviada para seu e-mail.<br>Acesse a plataforma e recadastre sua senha.",
          color: "success",
        });
      } else {
        this.$snackbar.showMessage({
          content: "Ocorreu um erro na solicitação",
          color: "error",
        });
      }
      this.clearForgot();
    },
    clearForgot() {
      this.loadingForgot = false;
      this.dialog = false;
    },
    reset() {
      this.$refs.register.reset();
    },
    resetValidation() {
      this.$refs.register.resetValidation();
    },
  },
};
</script>