<template>
  <v-layout column justify-center>
    <v-flex xs12 sm8 md6>
      <v-row>
        <v-col align="center" cols="12">
          <h1 class="primary--text font-weight-light text-uppercase">
            Notificação
          </h1>
        </v-col>
          <v-col>
             <v-alert
              v-show="!visible"
                border="left"
                colored-border
                color="primary"
                elevation="2"
                type="info"
              >
                <div class="caption primary--text">Não há registros.</div>
              </v-alert>
              <v-card
               v-show="visible"
               class="elevation-5">
                  <v-card-text>
                    <div class="text-right mb-3 mt-n1 primary--text">
                      Todos: 
                      <v-btn  icon @click="all()">
                        <v-icon color="primary" class="mr-1">mdi-delete</v-icon>
                      </v-btn>
                      <v-spacer></v-spacer>
                    </div>
                    <v-alert
                      border="left"
                      colored-border
                      color="primary"
                      elevation="2"
                      v-for="(item, i) in notifies" :key="i"
                      :icon="item.icon"
                    >
                      <div v-html="item.message" class="primary--text"></div>
                      <v-row no-gutters class="mt-3">
                        <v-col class="text-left mt-2 primary--text caption">{{ $moment(item.created).fromNow() }}</v-col>
                        <v-col class="text-right mr-1">
                          <v-icon :color="!item.readed ? 'success' : 'gray'">mdi-check-all</v-icon>
                          <v-btn icon @click="remove(item)">
                              <v-icon color="primary">mdi-delete</v-icon>
                            </v-btn>
                        </v-col>
                      </v-row>
                    </v-alert>
                  </v-card-text>
              </v-card>
          </v-col>
      </v-row>
      <G-Snackbar></G-Snackbar> 
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  middleware: ['auth', 'redirect'],
  layout: "logged",

    data: () => ({
        notifies: []
    }),

    async mounted () {
      let { data } = await this.$axios.get('/notify/by-user')
      this.notifies = data.registers

      this.$io.on('notify', async payload => {
          let { data } = await this.$axios.get('/notify/by-user')
          this.notifies = data.registers
      })

      let r = await this.$axios.get('/notify/by-user/readed')
      if(r.data.status === 'OK' && r.data.nModified > 0){
        this.$store.commit('socket/SET_NOTIFY', 0)
      } 
    },

    computed: {
      visible() {
        return this.notifies.length > 0
      }
    },
    
    methods: {
      async all () {
        let { data } = await this.$axios.delete(`/notify/by-user`)
        if(data.status === "OK") {
          this.$store.commit('socket/SET_NOTIFY', 0)
          this.notifies = {}
        }
      },
      async remove (item) {
        let { data } = await this.$axios.delete(`/notify/${item._id}`)
        if(data.status === "OK") {
          this.notifies.splice(this.notifies.indexOf(item), 1)
          this.$store.commit('socket/SET_NOTIFY', this.$store.state.socket.notify!==0 ? this.$store.state.socket.notify-1 : 0)
        }
      },
    }
}
</script>

<style lang="css">
.nunito {
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
}
.config-title {
    font-family: 'Cinzel', serif;
    font-size: 18px;
}
.btn-primary {
  color: #393e46 !important;
  background-color: #ecbbb1;
}
</style>
