<template>
  <v-layout column justify-center>
    <v-flex xs12 sm8 md6>
      <v-row>
        <v-col align="center" cols="12">
          <h1 class="primary--text font-weight-light text-uppercase">
            Perfil
          </h1>
        </v-col>
        <v-col>
          <v-row>
            <v-col xs="12" sm="12" md="7">
              <v-row >
                <v-col cols="12">
                  <v-card min-width="300" class="elevation-5" color="#dbdbdb">
                    <v-card-title class="py-2">
                      <v-icon medium class="pr-2 white--text">
                        mdi-account
                      </v-icon>
                      Meus dados
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-form ref="register">
                        <v-text-field
                          v-model="register.name"
                          maxlength="25"
                          :counter="25"
                          label="Name"
                          :rules="[$rules.required]"
                          background-color="#f7f7f7"
                        ></v-text-field>
                        <v-menu
                          ref="menu"
                          v-model="menu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on }">
                            <v-text-field
                              class="mt-n2"
                              v-model="register.birthdate"
                              label="Data de nascimento"
                              readonly
                              :rules="[$rules.required]"
                              v-on="on"
                              background-color="#f7f7f7"
                            ></v-text-field>
                          </template>
                          <v-date-picker
                            ref="picker"
                            v-model="register.birthdate"
                            :max="new Date().toISOString().substr(0, 10)"
                            min="1950-01-01"
                            @change="save"
                            locale="pt-br"
                          ></v-date-picker>
                        </v-menu>
                        <v-select
                          :items="['Feminino', 'Masculino']"
                          label="Gendero"
                          v-model="register.gender"
                          :rules="[$rules.required]"
                          background-color="#f7f7f7"
                        ></v-select>
                        <v-text-field
                          v-model="register.cpf"
                          label="CPF"
                          v-mask="['###.###.###-##']"
                          background-color="#f7f7f7"
                        ></v-text-field>
                        <v-text-field
                          v-model="register.email"
                          label="E-mail"
                          disabled
                          background-color="#f7f7f7"
                        ></v-text-field>
                      </v-form>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                      <v-btn
                        :disabled="loading1"
                        color="primary"
                        block
                        :loading="loading1"
                        @click="validate"
                      >
                        Registrar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
            <v-col xs="12" sm="12" md="5">
              <v-row>
                <v-col cols="12">
                  <v-card class="elevation-5" color="#dbdbdb">
                    <v-card-title class="py-2">
                      <v-icon medium class="pr-2 white--text">
                        mdi-account-key
                      </v-icon>
                      Alterar minha senha
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-form ref="register1">
                        <v-text-field
                          label="Nova senha"
                          v-model="register1.new"
                          :rules="[$rules.strong]"
                          :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                          :type="show1 ? 'text' : 'password'"
                          name="input-10-1"
                          hint="At least 8 characters"
                          background-color="#f7f7f7"
                          counter
                          @click:append="show1 = !show1"
                        ></v-text-field>
                      </v-form>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                      <v-btn
                        :disabled="loading2"
                        color="primary"
                        block
                        :loading="loading2"
                        @click="updatePassword"
                      >
                        Registrar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row>
            <v-col md="6" sm="12" xs="12">
              <v-row>
                <v-col cols="12">
                  <v-card class="elevation-5" color="#dbdbdb">
                    <v-card-title class="py-2">
                      <v-icon medium class="pr-2 white--text">
                        mdi-account-remove
                      </v-icon>
                      Desativar minha conta
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-row>
                        <v-col class="mx-3">
                          <v-alert type="warning" outlined>
                            Desativando sua conta você não terá mais acesso ao
                            sistema e seus dados apagados definitivamente.
                          </v-alert>
                        </v-col>
                      </v-row>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                      <v-btn
                        :disabled="loading3"
                        color="deep-purple lighten-5"
                        block
                        :loading="loading3"
                        @click="remove"
                      >
                        Desativar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <G-Snackbar></G-Snackbar>
    </v-flex>
  </v-layout>
</template>
<script>
import { mask } from "vue-the-mask";
export default {
  middleware: ["auth", "redirect"],
  layout: "logged",
  directives: {
    mask,
  },
  data: () => ({
    title: "profile",
    show1: false,
    expanded: [],
    visible: true,
    singleExpand: false,
    register: {
      name: "",
      birthdate: "",
      email: "",
      gender: "",
      cpf: "",
      birthdateNew: "",
    },
    register1: {
      new: "",
    },
    loading1: false,
    loading2: false,
    loading3: false,
    menu: false,
  }),
  created() {
    this.initialize();
  },
  methods: {
    initialize() {
      this.register.name = this.$auth.profile.name;
      this.register.gender = this.$auth.profile.gender;
      this.register.cpf = this.$auth.profile.cpf;
      this.register.birthdate = this.$auth.profile.birthdate
        ? this.$auth.profile.birthdate.substring(0, 10)
        : "";
      this.register.email = this.$auth.profile.email;
    },
    async updatePassword() {
      if (!this.$refs.register1.validate()) return;
      this.loading2 = true;
      let v = await this.$axios.post(`/register/updatePassword`, this.register1);
      if (v.data.status === "OK") {
        this.$snackbar.showMessage({
          content: "Sua senha foi alterado com sucesso.",
          color: "success",
        });
      } else {
        this.$snackbar.showMessage({
          content: "Ocorreu um erro e não foi alterado.",
          color: "error",
        });
      }
      this.loading2 = false;
    },
    async validate() {
      if (!this.$refs.register.validate()) return;
      this.loading1 = true;
      this.register.birthdateNew = new Date(
        `${this.register.birthdate} 00:00:00`
      );
      this.register._id = this.$auth.profile._id;
      let r = await this.$axios.post("/register/update", this.register);
      if (r.data.status === "OK") {
        await this.$auth.fetchUser();
        this.$snackbar.showMessage({
          content: "Seu cadastro foi alterado com sucesso.",
          color: "success",
        });
      } else {
        this.$snackbar.showMessage({
          content: "Ocorreu um erro e não foi alterado.",
          color: "error",
        });
      }
      this.loading1 = false;
    },
    async remove() {
      if (confirm("Deletar este registro?")) {
        this.loading3 = true;
        this.register._id = this.$auth.profile._id;
        let r = await this.$axios.post(
          "/register/account-remove",
          this.register
        );
        if (r.data.status === "OK") {
          await this.$auth.logout();
          this.$router.push("/goodbye");
        } else {
          this.$snackbar.showMessage({
            content: "Ocorreu um erro e não foi concluido.",
            color: "error",
          });
        }
        this.loading3 = false;
      }
    },
    save(date) {
      this.$refs.menu.save(date);
    },
  },
  watch: {
    menu(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = "YEAR"));
    },
  },
};
</script>