<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-row class="text-center">
        <v-col cols="12">
          <v-card width="530" class="elevation-0" color="#ebe9eb">
            <v-card-title  class="font-weight-light py-2">
              Registro
            </v-card-title>
            <v-divider color="#222222"></v-divider>
            <v-card-text class="py-0 px-0">
              <v-form ref="register" class="pa-4">
                <v-row no-gutters>
                  <v-col cols="12">
                    <v-text-field
                      v-model="register.name"
                      :counter="25"
                      :rules="[$rules.required]"
                      label="Nome"
                      required
                      background-color="#f7f7f7"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      autocomplete="off"
                      v-model="register.email"
                      :rules="[$rules.required, $rules.email, rules.checkEmail]"
                      label="E-mail"
                      ref="email"
                      background-color="#f7f7f7"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      autocomplete="off"
                      v-model="register.confirm"
                      :rules="confirmRules"
                      label="Confirme seu e-mail"
                      required
                      background-color="#f7f7f7"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-select
                      :items="['Feminino', 'Masculino']"
                      label="Genero"
                      :rules="[$rules.required]"
                      v-model="register.gender"
                      background-color="#f7f7f7"
                    ></v-select>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      v-model="register.password"
                      :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                      :rules="[$rules.strong]"
                      :type="show1 ? 'text' : 'password'"
                      name="input-10-1"
                      label="Senha"
                      hint="At least 8 characters"
                      counter
                      @click:append="show1 = !show1"
                      background-color="#f7f7f7"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-btn
                :disabled="!valid"
                color="primary"
                class="mr-4"
                @click="validate"
                block
                :loading="loading"
              >
                Cadastrar
              </v-btn>
            </v-card-actions>
            <v-card-text>
              <v-row>
                <v-col>
                  <router-link to="/login" class="body-1" exact
                    >Ir para o Login</router-link
                  >
                  <br />contato@motorroad.com.br
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <G-Snackbar></G-Snackbar>
    </v-flex>
  </v-layout>
</template>
<script>
import debounce from "debounce";
export default {
  layout: "auth",
  data() {
    let that = this;
    return {
      validEmail: false,
      loading: false,
      valid: true,
      show1: false,
      register: {
        name: "",
        email: "",
        gender: "",
        confirm: "",
        password: "",
        role: "user"
      },
      rules: {
        required: (value) => !!value || "Campo obrigatório.",
        min: (v) => v.length >= 8 || "Min 8 characteres",
        checkEmail(val) {
          if (!that) return false;
          return that.validEmail;
        },
      },
      confirmRules: [
        (v) =>
          this.register.email === this.register.confirm ||
          "Confirmação de email errado",
      ],
    };
  },
  methods: {
    async validate() {
      if (!this.$refs.register.validate()) return;
      this.load = true;
      this.register.email = this.register.email.toLowerCase().trim();
      let { data } = await this.$axios.put("/signup", this.register);
      if (data.status === "FAIL") {
        this.$snackbar.showMessage({
          content: "Ocorreu um erro e seu cadastro não foi realizado",
          color: "error",
        });
      } else {
        this.load = false;
        await this.$auth.setToken(data);
        await this.$auth.fetchUser();
        this.$router.push("/dashboard");
      }
    },
    checkEmailDebounce: debounce(function (val) {
      this.$axios
        .get(`/signup/email/${val}`)
        .then((r) => {
          if (r.data.status !== "OK") this.validEmail = true;
          else this.validEmail = "E-mail já cadastrado";
          if (this.$refs.email) this.$refs.email.validate();
        })
        .catch((err) => {
          this.validEmail = true;
          if (this.$refs.email) this.$refs.email.validate();
        });
    }, 500),
    open() {
      this.terms = true;
    },
  },
  watch: {
    /* menu (val) {
        val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
      }, */
    "register.email": {
      handler(val) {
        this.checkEmailDebounce(val);
      },
    },
  },
};
</script>