<template>
  <v-app>
    <v-app-bar :clipped-left="clipped" fixed app prominent color="#dadada">
      <v-toolbar-title class="ml-2">
        <router-link to="/" class="white--text logo" exact>
          <img
            src="/logo-motor-road-experiences.png"
            alt="Motor Road Experinces"
            contain
            height="75"
            class="mb-n3"
          />
        </router-link>
      </v-toolbar-title>
      <v-spacer />
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer :absolute="!fixed" app color="#222222">
      <v-row>
        <v-col align="center">
          <span class="white--text text-caption">&copy; {{ new Date().getFullYear() }} Motor Road Experiences</span>
        </v-col>
      </v-row> 
    </v-footer>
  </v-app>
</template>
<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      title: "Skill training",
    };
  },
};
</script>
<style scoped>
.logo {
  text-decoration-line: none;
}
</style>