<template>
  <v-app>
    <v-app-bar :clipped-left="clipped" fixed app prominent color="#dadada">
      <v-toolbar-title class="ml-2">
        <router-link to="/" class="white--text" exact>
          <img
            src="/logo-motor-road-experiences.png"
            alt="Motor Road Experinces"
            contain
            height="75"
            class="mb-n3"
          />
        </router-link>
      </v-toolbar-title>
      <v-spacer />
      <v-row class="mr-n5">
        <v-col cols="12" align="end">
          <v-btn icon small outlined color="primary" class="pa-0" to="/login">
            <v-icon small class="primary--text">mdi-login</v-icon>
          </v-btn>
        </v-col>
        <v-col align="end" cols="12" class="mt-8">
          <v-btn
            v-for="(icon, index) in icons"
            :key="index"
            class="primary mr-2"
            fab
            x-small
            :href="icon.link"
            target="blank"
          >
            <v-icon size="24px" color="#dadada">
              {{ icon.icon }}
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer :absolute="!fixed" app color="#222222">
      <v-row>
        <v-col align="center">
          <img
            src="/logo-botton-motor-road-experiences.png"
            alt="Motor Road Experinces"
            contain
            height="75"
            class="mt-8 mb-5"
          />
          <p class="white--text text-body-2">Dúvidas sobre reservas?<br>Suporte 24hs 11 4673.1048<br>contato@motorroad.com.br</p>
          <span class="white--text text-caption">&copy; {{ new Date().getFullYear() }} Motor Road Experiences</span>
        </v-col>
      </v-row>      
    </v-footer>
  </v-app>
</template>
<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      title: "Motor Road Experineces",
      icons: [
        { icon: "mdi-facebook", link: "https://www.facebook.com/motorroadbrasil" },
        { icon: "mdi-instagram", link: "https://www.instagram.com/motorroad_brasil/" },
        { icon: "mdi-linkedin", link: "https://www.facebook.com/" },
        { icon: "mdi-youtube", link: "https://www.youtube.com/channel/UC1ARuVu5i1tk6pGavBTqh1A/videos" },
      ],
    };
  },
};
</script>