<template>
  <v-app>
    <v-app-bar :clipped-left="clipped" fixed app prominent color="#dadada">
      <v-toolbar-title class="ml-2">
        <v-toolbar-title class="ml-2">
        <router-link to="/dashboard" class="white--text logo" exact>
          <img
            src="/logo-motor-road-experiences.png"
            alt="Motor Road Experinces"
            contain
            height="75"
            class="mb-n3"
          />
        </router-link>
      </v-toolbar-title>
      </v-toolbar-title>
      <v-spacer />

      <v-btn icon class="pa-0" to="/notify">
        <v-badge
            overlap
            :content="$store.state.socket.notify"
            :value="$store.state.socket.notify"
            right
            offset-x="10"
            offset-y="12"
            color="accent primary--text font-weight-bold"
        >
          <v-icon class="primary--text">mdi-bell</v-icon>
        </v-badge>
      </v-btn>
      <v-btn
        icon
        class="ml-2"
        @click.stop="rightDrawer = !rightDrawer"
        
      >
      <G-Avatar :size="40" :avatar="$auth.profile.avatar" :id="$auth.profile._id" :name="$auth.profile.name"></G-Avatar>
      </v-btn>

     
    </v-app-bar>
    
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>
      <v-list  class="mt-n2">
        <v-list-item to="/profile" class="grey lighten-3">
            <v-list-item-action class="mr-3">
              <G-Avatar :size="55" :avatar="$auth.profile.avatar" :id="$auth.profile._id" :name="$auth.profile.name"></G-Avatar>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-subtitle class="primary--text">{{$auth.profile.name}}</v-list-item-subtitle>
              <v-list-item-subtitle class="gray--text">{{$auth.profile.email}}</v-list-item-subtitle>
              <v-list-item-subtitle class="blue-grey--text caption">{{$auth.profile.role}}</v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item to="/document" class="grey lighten-3">
            <v-list-item-action class="mr-4"><v-icon class="grey-darken-4--text">mdi-smart-card</v-icon></v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="overline grey-darken-4--text">Carteirinha</v-list-item-title>
            </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item @click="logout" class="grey lighten-3">
            <v-list-item-action class="mr-4"><v-icon class="grey-darken-4--text">mdi-logout</v-icon></v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="overline grey-darken-4--text">Sair</v-list-item-title>
            </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      right: true,
      rightDrawer: false,
      title: "Motor Road Experiences",
    };
  },
  methods: {
      async logout() {
          await this.$auth.logout()
          this.$router.push('/')
      }
  },
};
</script>

<style scoped>
  .logo{
    text-decoration-line: none;
  }
</style>