<template>
  <v-data-table
    :headers="headers"
    :items="registers"
    :options.sync="options"
    :server-items-length="totalRegisters"
    :loading="loading"
    class="elevation-1"
    no-data-text="Não existem dados para exibição"
    loading-text="Carregando itens"
    :footer-props="{
        itemsPerPageText: 'Registros por página'
    }"
    :item-key="itemKey"
    :show-select="showSelect"
    single-select
    v-model="selected"
  >
    <template v-slot:item.created="{ item }">
      <span>{{ $moment(item.created).format('L LT') }}</span>
    </template>
    <template v-slot:item.lastLogin="{ item }">
      <span>{{ $moment(item.lastLogin).format('L LT') }}</span>
    </template>
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>{{ label }}</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-text-field
          v-model="options.search"
          append-icon="mdi-magnify"
          label="Busca"
          hide-details
          class="mr-4"
          dense
          block
          v-if="find"
        >
          <template v-slot:prepend-inner>
            <v-select
              :items="headers.filter(i => i.text !== '')"
              item-text="text"
              item-value="value"
              v-model="options.field"
              dense
              hide-details
              max-width="100"
              label="Campo"
            ></v-select>
          </template>
        </v-text-field>
        <v-spacer v-else></v-spacer>
        <v-dialog v-model="dialog" max-width="1000px" eager scrollable>
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on" v-if="insert">Novo</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ label }}</span>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-form ref="form">
                <slot />
              </v-form>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary darken-1" outlined @click="close">Cancelar</v-btn>
              <v-btn color="primary darken-1" @click="save" :loading="busy">Salvar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.action="{ item }">
      <v-icon class="mr-2" @click="editItem(item)" v-if="edit">mdi-pencil</v-icon>
      <v-icon @click="deleteItem(item)">mdi-delete</v-icon>
    </template>
  </v-data-table>
</template>
<script>
export default {
  props: {
    headers: Array,
    entity: String,
    label: String,
    edit: Boolean,
    find: Boolean,
    insert: Boolean,
    showSelect: Boolean,
    itemKey: String,
    editedItem: Object,
    defaultItem: Object,
    batch: Boolean,
    search: String,
    field: String
  },

  data() {
    return {
      dialog: false,
      totalRegisters: 0,
      registers: [],
      loading: true,
      options: {
        search: this.search,
        field: this.field
      },
      editedIndex: -1,
      selected: [],
      busy: false
    };
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.registers.indexOf(item);
      this.$emit("update:editedItem", Object.assign({}, item));
      this.$emit("open");
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.registers.indexOf(item);
      if (confirm("Você tem certeza que quer remover este item?")) {
        if (this.entity === 'api/register/without-image' || this.entity === 'api/register') {
          this.$axios.post(`/api/register/removed/${item._id}`);
        } else {
          this.$axios.delete(`/${this.entity}/${item._id}`);
        }
        this.registers.splice(index, 1);
      }
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.$emit("close", {});
        console.log(this.defaultItem)
        this.$emit("update:editedItem", Object.assign({}, this.defaultItem));
        this.editedIndex = -1;
      }, 300);
    },

    async save() {
      if (!this.$refs.form.validate()) return;

      this.busy = true;

      if (this.editedIndex > -1) {
        await this.$axios.post(
          `/${this.entity}/${this.editedItem._id}`,
          this.editedItem
        );
        /// Object.assign(this.registers[this.editedIndex], this.editedItem)
        await this.getDataFromApi();
      } else {
        let { data } = await this.$axios.put(
          `/${this.entity}${this.batch ? "/batch" : ""}`,
          this.editedItem
        );
        if (this.batch) {
          this.registers.push(...data.registers);
        } else {
          this.registers.push({ ...this.editedItem, _id: data.registers._id });
        }
      }

      this.busy = false;

      this.close();
    },

    async getDataFromApi() {
      this.loading = true;

      const {
        sortBy,
        sortDesc,
        page,
        itemsPerPage,
        search,
        field
      } = this.options;

      let filter = "";
      if (search) filter = `&q=${field}[regex]:${search}`;

      let sort = sortBy
        ? sortDesc && sortDesc[0]
          ? `-${sortBy}`
          : `${sortBy}`
        : "";

      let { data } = await this.$axios.get(
        `/${this.entity}?sort=${sort}&limit=${itemsPerPage > 0 ? itemsPerPage : 2000}&skip=${(page - 1) *
          itemsPerPage}${filter}`
      );

      this.registers = data.registers;
      this.totalRegisters = data.count;

      this.loading = false;
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    },

    selected(val) {
      this.$emit("update:selected", val);
    },

    options: {
      handler() {
        this.getDataFromApi();
      },
      deep: true
    }
  },

  mounted() {
    this.getDataFromApi();
  }
};
</script>
