<template>
    <v-avatar :size="this.size" v-if="this.avatar !== ''">
        <img
        :src="`/profiles/${this.avatar}`"
        :alt="this.name"
        >
    </v-avatar>
    <v-avatar :size="this.size" color="#000" v-else>
        <span :class="this.size > 50 ? 'white--text display-1' : 'white--text'">{{ this.name.substring(0,1).toUpperCase() }}</span>
    </v-avatar>
</template>
<script>
export default {
  name: 'avatarComponent',
  props: {
    size: {
      type: Number,
      required: true
    },
    id: {
      type: String,
      required: true
    },
    avatar: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
  },
}
</script>